---
layout: index
title: Home
---


<p>Governing a set of global stakeholders is hard, especially for blockchain-based protocols. Protocols need clear governance for prompt feature implementation, accountable project teams, and correct resource allocation. We facilitate scalable governance and decision making for protocols and organizations.
</p>
<p>Right now, we're focused on govering and launching <a href="https://edgewa.re">Edgeware</a>. We are <a href="https://angel.co/commonwealth-labs">hiring</a>.

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://commonwealth.us18.list-manage.com/subscribe/post?u=ce4385d46e6df2466916d9031&amp;id=b7f59ceaec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="satoshi@commonwealth.im" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ce4385d46e6df2466916d9031_b7f59ceaec" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->

<hr>
<p>
  <b>Email</b>: <a href="mailto:team@commonwealth.im">hello@commonwealth.im</a><br/>
  <b>Links</b>:

  <a href="https://angel.co/commonwealth-labs" target="_blank">Jobs</a>
  &middot;

  <a href="/blog">Blog</a>,
  {% if site.github.repo %}
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="{{ site.github.repo }}">
      {% include svg/github.svg %}
    </a>
  {% endif %}

  {% if site.social.telegram %}
  <a id="telegram-link"
    href="{{ site.social.telegram }}"
    class="icon"
    title="Telegram Group"
    aria-label="Telegram Group"
  >
    {% include svg/icons8-telegram-app.svg %}
  </a>
  {% endif %}

  {% if site.social.telegram %}
  <a id="twitter-link"
    href="{{ site.social.twitter }}"
    class="icon"
    title="Twitter"
    aria-label="Twitter"
  >
    {% include svg/icons8-twitter.svg %}
  </a>
  {% endif %}

<!--   ,<a href="http://fb.me/hicommonwealth">Facebook</a>, <a href="https://medium.com/commonwealth-protocol">Medium</a></p>
 -->

